.right-sidebar {
    width: 20%;
    position: absolute;
    top: 6.6rem; /* Start from the top of its container */
    right: 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    height: 61rem; /* Cover full height of its container */
}

.sidebar-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.delete-job, .edit-job {
    font-size: 0.7rem;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    width: 40%;
}

.delete-job {
    background-color: #f6f1f0;
    color: red;
    border: 0.1rem solid red;
}

.edit-job {
    background-color: #DC4A2D;
    color: white;
}

.sidebar-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: white;
    margin-bottom: 1rem;
}

.item-label {
    font-weight: 400;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
}

.item-value {
    font-size: 1rem;
}